<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>SelectStations</servlet-name>
        <servlet-class>org.example.servlet.SelectStations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectStations</servlet-name>
        <url-pattern>/selectstations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectLines</servlet-name>
        <servlet-class>org.example.servlet.SelectLines</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectLines</servlet-name>
        <url-pattern>/selectlines</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resstation</servlet-name>
        <jsp-file>/WEB-INF/Stations.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>resstation</servlet-name>
        <url-pattern>/resstation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resline</servlet-name>
        <jsp-file>/WEB-INF/Lines.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>resline</servlet-name>
        <url-pattern>/resline</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectshortline</servlet-name>
        <servlet-class>org.example.servlet.SelectShortLine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectshortline</servlet-name>
        <url-pattern>/selectshort</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectlessline</servlet-name>
        <servlet-class>org.example.servlet.SelectLessLines</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectlessline</servlet-name>
        <url-pattern>/selectless</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resshort</servlet-name>
        <jsp-file>/WEB-INF/ShortLine.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>resshort</servlet-name>
        <url-pattern>/resshort</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resless</servlet-name>
        <jsp-file>/WEB-INF/LessLine.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>resless</servlet-name>
        <url-pattern>/resless</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>allfilter</filter-name>
        <filter-class>org.example.servlet.AllFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>allfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>